body {
	margin: 0px;
	padding: 0px;
	transition: background-color 300ms linear;
	-webkit-transition: background-color 300ms linear;
}

body.day {
	background-color: white;
}

body.night {
	background-color: black;
}

#test {
	position: absolute;
	left: 10px;
	top: 40px;
	display:inline-block; 
	padding:5px; 
	height: 1em;
	margin:auto;
	border:1px solid black;
}

.hidden {
	opacity: 0 !important;
}

.menuBar {
	z-index: 100;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	border-top: 2px solid;
	background-color: white;
	transition: all 300ms linear;
	-webkit-transition: all 200px linear;
}

.night .menuBar {
	background-color: black;
}

@media screen and (max-height: 700px) {
	.menuBar, .night .menuBar {
		border-top: 0px;
		background-color: transparent;
	}
	
	.night .menuBtn, .menuBtn {
		border: 2px solid;
	}
}

.menuBtn {
	height: 40px;
	width: 40px;
	background: url(../img/menu.png) no-repeat;
	border-radius: 4px;
	position: absolute;
	right: 5px;
	top: 3px;
	cursor: pointer;
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
}

.menuBtn .nightSprite {
	height: 40px;
	width: 40px;
	background: url(../img/menu.png) 0px -40px no-repeat;
}

.menuBar.open {
	border-top: 2px solid;
	height: 400px;
	background-color: white;
	box-shadow: 0 5px 5px 5px #666;
}

.open .menuBtn {
	border: 0px;
}

.night .menuBar.open {
	background-color: black;
}

.gameBoard {
	position: relative;
	margin: 110px auto 0px;
	border: 2px solid;
	padding: 2px;
}

.tileContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	perspective: 600px;
	-moz-perspective: 600px;
	-webkit-perspective: 600px;
	-ms-perspective: 600px;
}

.tile {
	width: 60px;
	height: 60px;
	position: absolute;
	transition: transform 300ms linear;
	-webkit-transition: -webkit-transform 300ms linear;
}

.night .tile {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.tile > div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 4px;
	border: 2px solid;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
}

.tile .nightSide {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.tile.grain div {
	/*background-color: #FFE97F;*/
	background: url(../img/wheattile.png) center no-repeat;
}

.tile.wood div {
	/* background-color: #7C5840; */
	background: url(../img/woodtile.png) center no-repeat;
}

.tile.stone div {
	/* background-color: #C4C4C4; */
	background: url(../img/stonetile.png) center no-repeat;
}

.tile.clay div {
	/*background-color: #C65645;*/
	background: url(../img/clay.png) center no-repeat;
}

.tile.gem div {
	/* background-color: #C49EE2;*/
	background: url(../img/gem.png) center no-repeat;
}

.tile.blank div {
	background-color: #000;
}

.selected {
	background-color: red;
}

.world {
	position: absolute;
	top: -102px;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.dude {
	background-image: url(../img/dude.png);
	position: absolute;
	bottom: 0px;
	width: 16px;
	height: 32px;
	z-index: 10;
}

.dude .animationLayer.nightSprite {
	background-image: url(../img/dude_night.png);
}

.animationLayer {
	width: 100%;
	height: 100%
}

.heldBlock {
	position: absolute;
	width: 10px;
    height: 10px;
    right: -4px;
    top: 6px;
    font-size: 0px;
}

.building {
	position: absolute;
	bottom: -80px;
	width: 60px;
	height: 80px;
	background-position: 0px bottom;
	background-repeat: no-repeat;
}

.shack {
	background-image: url(../img/shack.png);
}

.bricklayer {
	background-image: url(../img/bricklayer.png);
}

.mine {
	background-image: url(../img/mine.png);
}

.resources {
	position: absolute;
	font-size: 0px;
	bottom: 5px;
	left: 13px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: right;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: opacity 300ms linear;
	-wekbit-transition: opacity 300ms linear;
	opacity: 1;
}

.blockPile {
	position: relative;
	top: -60px;
    margin: auto;
	height: 60px;
    width: 40px;
    font-size: 0px;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: opacity 300ms linear;
	-wekbit-transition: opacity 300ms linear;
	opacity: 1;
}

.night .blockPile, .night .resources {
	opacity: 0;
}

.block {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	border: 1px solid black;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.block div {
	height: 100%;
	transition: width 300ms;
	-webkit-transition: width 300ms;
}

.block.grain div {
	background-color: #FFE97F;
}

.block.wood div {
	background-color: #7C5840;
}

.block.stone div {
	background-color: #C4C4C4;
}

.block.clay div {
	background-color: #C65645;
}

.healthContainer {
	position: absolute;
	top: 0px;
	left: -35px;
	width: 35px;
	height: 100%;
}

.heart.hiddenHeart {
	opacity: 0;
}

.heart.empty {
	opacity: 0.5;
}

.heart {
	position: relative;
	width: 30px;
	height: 28px;
	opacity: 1;
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
}

.heart .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/heart.png) no-repeat;
	z-index: 1;
}

.heart .mask.nightSprite {
	background-position: left -28px;
}

.heart .bar {
	position: absolute;
	height: 100%;
	background-color: #BC4D4D;
	transition: width 300ms;
	-webkit-transition: width 300ms;
}

.nightSprite, .daySprite {
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
}

.night .nightSprite {
	opacity: 1;
}

.day .nightSprite {
	opacity: 0;
}

.day .daySprite {
	opacity: 1;
}

.night .daySprite {
	opacity: 0;
}

.litBorder {
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
}

.night .litBorder {
	border-color: #FFFFFF;
}

.day .litBorder {
	border-color: #000000;
}
