body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	transition: background-color 300ms linear;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
}

body.night {
	background-color: black;
}

#test {
	position: absolute;
	left: 10px;
	top: 40px;
	display:inline-block; 
	padding:5px; 
	height: 10px;
	width: 10px;
	margin:auto;
	border:1px solid black;
	background-color: red;
}

.hidden {
	opacity: 0 !important;
}

/** Menu Bar **/

.menuBar {
	z-index: 100;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	border-top: 2px solid;
	background-color: white;
	transition: all 300ms linear;
	-webkit-transition: all 200px linear;
	-moz-transition: all 200px linear;
	-ms-transition: all 200px linear;
	-o-transition: all 200px linear;
}

.night .menuBar {
	background-color: black;
}

@media screen and (max-height: 700px) {
	.menuBar, .night .menuBar {
		border-top: 0px;
		background-color: transparent;
	}
	
	.night .menuBtn, .menuBtn {
		border: 2px solid;
	}
}

.menuBtn {
	height: 40px;
	width: 40px;
	background: url(../img/menu.png) no-repeat;
	border-radius: 4px;
	position: absolute;
	right: 3px;
	top: 3px;
	cursor: pointer;
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
}

.menuBtn .nightSprite {
	height: 40px;
	width: 40px;
	background: url(../img/menu.png) 0px -40px no-repeat;
}

.menuBar.open {
	border-top: 2px solid;
	height: 400px;
	background-color: white;
	box-shadow: 0 5px 5px 5px #666;
}

.open .menuBtn {
	border: 0px;
}

.night .menuBar.open {
	background-color: black;
}

/** Day/Night Stuff **/

.nightSprite, .daySprite {
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
}

.nightSprite {
	opacity: 0;
}

.night .nightSprite {
	opacity: 1;
}

.daySprite {
	opacity: 1;
}

.night .daySprite {
	opacity: 0;
}

.litBorder {
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	border-color: #000000;
}

.night .litBorder {
	border-color: #FFFFFF;
}

/** Save Spinner **/

.saveSpinner {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 3px;
	top: 3px;
	opacity: 0;
	transition: opacity 200ms linear;
	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
}

.saveSpinner.active {
	opacity: 1;
}

.saveSpinner div {
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: black;
	transition: background-color 300ms linear;
	-webkit-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	animation: pulse 1s infinite;
	-webkit-animation: pulse 1s infinite;
	-moz-animation: pulse 1s infinite;
	-ms-animation: pulse 1s infinite;
	-o-animation: pulse 1s infinite;
}

.night .saveSpinner div {
	background-color: white;
} 

.saveSpinner div:nth-child(1) {
	top: 0px;
	left: 17px;
}
.saveSpinner div:nth-child(2) {
	top: 4px;
	right: 4px;
	animation-delay: -875ms;
	-webkit-animation-delay: -875ms;
	-moz-animation-delay: -875ms;
	-ms-animation-delay: -875ms;
	-o-animation-delay: -875ms;
}
.saveSpinner div:nth-child(3) {
	top: 17px;
	right: 0px;
	animation-delay: -750ms;
	-webkit-animation-delay: -750ms;
	-moz-animation-delay: -750ms;
	-ms-animation-delay: -750ms;
	-o-animation-delay: -750ms;
}
.saveSpinner div:nth-child(4) {
	bottom: 4px;
	right: 4px;
	animation-delay: -625ms;
	-webkit-animation-delay: -625ms;
	-moz-animation-delay: -625ms;
	-ms-animation-delay: -625ms;
	-o-animation-delay: -625ms;
}
.saveSpinner div:nth-child(5) {
	top: 34px;
	left: 17px;
	animation-delay: -500ms;
	-webkit-animation-delay: -500ms;
	-moz-animation-delay: -500ms;
	-ms-animation-delay: -500ms;
	-o-animation-delay: -500ms;
}
.saveSpinner div:nth-child(6) {
	bottom: 4px;
	left: 4px;
	animation-delay: -375ms;
	-webkit-animation-delay: -375ms;
	-moz-animation-delay: -375ms;
	-ms-animation-delay: -375ms;
	-o-animation-delay: -375ms;
}
.saveSpinner div:nth-child(7) {
	top: 17px;
	left: 0px;
	animation-delay: -250ms;
	-webkit-animation-delay: -250ms;
	-moz-animation-delay: -250ms;
	-ms-animation-delay: -250ms;
	-o-animation-delay: -250ms;
}
.saveSpinner div:nth-child(8) {
	top: 4px;
	left: 4px;
	animation-delay: -125ms;
	-webkit-animation-delay: -125ms;
	-moz-animation-delay: -125ms;
	-ms-animation-delay: -125ms;
	-o-animation-delay: -125ms;
}

@keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

@-webkit-keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

@-moz-keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

@-ms-keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

@-o-keyframes pulse {
	0% { opacity: 0 }
	50% { opacity: 1 }
	100% { opacity: 0 }
}

/** Game Board **/
.gameBoard {
	position: relative;
	margin: 110px auto 0px;
	border: 2px solid;
	padding: 2px;
	opacity: 1;
	transition: all 300ms linear, opacity 1s linear;
}

.tileContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	perspective: 600px;
	-moz-perspective: 600px;
	-webkit-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
}

.tile {
	top: -60px;
	width: 60px;
	height: 60px;
	position: absolute;
	transform: translate3d(0,0,0);
	transition: all 200ms linear, left 0ms linear;
	-webkit-transition: all 200ms linear, left 0ms linear;
	-moz-transition: all 200ms linear, left 0ms linear;
	-ms-transition: all 200ms linear, left 0ms linear;
	-o-transition: all 200ms linear, left 0ms linear;
}

.tile > div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	border-radius: 4px;
	border: 2px solid;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	transition: all 300ms linear, background-position 1ms linear;
	-webkit-transition: all 300ms linear, background-position 1ms linear;
	-moz-transition: all 300ms linear, background-position 1ms linear;
	-ms-transition: all 300ms linear, background-position 1ms linear;
	-o-transition: all 300ms linear, background-position 1ms linear;
}

.tile .nightSide {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.night .tile .daySide {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.night .tile .nightSide {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}

.tile .daySide {
	background: url(../img/tiles_day.png) no-repeat;
}

.tile .nightSide {
	background: url(../img/tiles_night.png) no-repeat;
}

.tile.grain > div {
	background-position: 0 0;
}

.tile.stone > div {
	background-position: -52px 0;
}

.stone2 .tile.stone > div {
	background-position: -52px -52px;
}

.stone3 .tile.stone > div {
	background-position: -52px -104px;
}

.tile.wood > div {
	background-position: -104px 0;
}

.wood2 .tile.wood > div {
	background-position: -104px -52px;
}

.wood3 .tile.wood > div {
	background-position: -104px -104px;
}

.tile.clay > div {
	background-position: -156px 0px;
}

.tile.cloth > div {
	background-position: -208px 0px;
}

.selected {
	background-color: red;
}

/** World **/

.world {
	position: absolute;
	top: -112px;
	width: 100%;
	height: 110px;
	overflow: hidden;
	background-color: white;
	transition: background-color 300ms linear;
	-webkit-transition: background-color 300ms linear;
	-ms-transition: background-color 300ms linear;
	-o-transition: background-color 300ms linear;
	-moz-transition: background-color 300ms linear;
}

.night .world {
	background-color: black;
}

.dude {
	background-image: url(../img/dude.png);
	position: absolute;
	bottom: 0px;
	width: 34px;
	height: 32px;
	z-index: 10;
}

.dude .animationLayer.nightSprite {
	background-image: url(../img/dude_night.png);
}

.animationLayer {
	width: 100%;
	height: 100%
}

.heldBlock {
	position: absolute;
	width: 10px;
    height: 10px;
    right: 5px;
    top: 6px;
    font-size: 0px;
}

.building {
	z-index: 1;
	position: absolute;
	bottom: -80px;
	width: 60px;
	height: 80px;
	background-position: 0px bottom;
	background-repeat: no-repeat;
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
}

.night .building {
	opacity: 0;
}

.shack {
	background-image: url(../img/shack.png);
}

.bricklayer {
	background-image: url(../img/bricklayer.png);
}

.weaver {
	background-image: url(../img/weaver.png);
}

.blacksmith, 
.blacksmith2 {
	background-image: url(../img/blacksmith.png);
}

.sawmill,
.sawmill2 {
	background-image: url(../img/sawmill.png);
}

.resources {
	z-index: 2;
	position: absolute;
	font-size: 0px;
	bottom: 5px;
	left: 13px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: right;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
	opacity: 1;
}

.blockPile {
	position: relative;
	top: -60px;
    margin: auto;
	height: 60px;
    width: 40px;
    font-size: 0px;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
	opacity: 1;
}

.night .blockPile, .night .resources {
	opacity: 0;
}

.block {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	border: 1px solid black;
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.block div {
	height: 100%;
	transition: width 300ms linear;
	-webkit-transition: width 300ms linear;
	-ms-transition: width 300ms linear;
	-moz-transition: width 300ms linear;
	-o-transition: width 300ms linear;
}

.block.grain div {
	background-color: #FFE97F;
}

.block.wood div {
	background-color: #7C5840;
}

.block.stone div {
	background-color: #C4C4C4;
}

.block.clay div {
	background-color: #C65645;
}

.block.cloth div {
	background-color: #EEDFA6;
}

.celestial {
	z-index: 0;
	width: 30px;
	height: 30px;
	background: url(../img/sun.png) no-repeat;
	position: absolute;
	transition: top 300ms linear, left 300ms linear;
	-webkit-transition: top 300ms linear, left 300ms linear;
	-moz-transition: top 300ms linear, left 300ms linear;
	-ms-transition: top 300ms linear, left 300ms linear;
	-o-transition: top 300ms linear, left 300ms linear;
}

.zombie {
	position: absolute;
	bottom: 0px;
	height: 32px;
	width: 16px;
	background: url(../img/zombie.png) no-repeat;
}

.rat {
	position: absolute;
	bottom: 0px;
	height: 13px;
	width: 40px;
	background: url(../img/rat.png) no-repeat;
}

.skeleton {
	position: absolute;
	bottom: 0px;
	height: 32px;
	width: 27px;
	background: url(../img/skeleton.png) no-repeat;
}

.arrow {
	position: absolute;
	height: 1px;
	width: 8px;
	background-color: white;
	bottom: 20px;
	transition: all 100ms linear, left 100ms linear;
	-webkit-transition: all 100ms linear, left 100ms linear;
	-moz-transition: all 100ms linear, left 100ms linear;
	-ms-transition: all 100ms linear, left 100ms linear;
	-o-transition: all 100ms linear, left 100ms linear;
}

.arrow.left {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.arrow.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.arrow.top {
	transform: translate3d(0, -50px, 0) rotate(0deg);
	-webkit-transform: translate3d(0, -50px, 0) rotate(0deg);
	-moz-transform: translate3d(0, -50px, 0) rotate(0deg);
	-ms-transform: translate3d(0, -50px, 0) rotate(0deg);
	-o-transform: translate3d(0, -50px, 0) rotate(0deg);
	transition-timing-function: ease-out, linear;
	-webkit-transition-timing-function: ease-out, linear;
	-moz-transition-timing-function: ease-out, linear;
	-ms-transition-timing-function: ease-out, linear;
	-o-transition-timing-function: ease-out, linear;
}

.arrow.bottom {
	transition-timing-function: ease-in, linear;
	-webkit-transition-timing-function: ease-in, linear;
	-moz-transition-timing-function: ease-in, linear;
	-ms-transition-timing-function: ease-in, linear;
	-o-transition-timing-function: ease-in, linear;
}

.arrow.bottom.left {
	transform: translate3d(0, 0px, 0) rotate(-45deg);
	-webkit-transform: translate3d(0, 0px, 0) rotate(-45deg);
	-moz-transform: translate3d(0, 0px, 0) rotate(-45deg);
	-ms-transform: translate3d(0, 0px, 0) rotate(-45deg);
	-o-transform: translate3d(0, 0px, 0) rotate(-45deg);
}

.arrow.bottom.right {
	transform: translate3d(0, 0px, 0) rotate(45deg);
	-webkit-transform: translate3d(0, 0px, 0) rotate(45deg);
	-moz-transform: translate3d(0, 0px, 0) rotate(45deg);
	-ms-transform: translate3d(0, 0px, 0) rotate(45deg);
	-o-transform: translate3d(0, 0px, 0) rotate(45deg);
}

/** Status **/

.statusContainer {
	position: absolute;
	top: 0px;
	left: -35px;
	width: 35px;
	height: 100%;
}

.heart.empty {
	opacity: 0.5;
}

.heart {
	position: relative;
	width: 30px;
	height: 28px;
	opacity: 1;
	transition: opacity 500ms linear;
	-webkit-transition: opacity 500ms linear;
	-moz-transition: opacity 500ms linear;
	-ms-transition: opacity 500ms linear;
	-o-transition: opacity 500ms linear;
}

.heart .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/heart.png) no-repeat;
	z-index: 1;
}

.heart .mask.nightSprite {
	background-position: left -28px;
}

.heart .bar {
	position: absolute;
	height: 100%;
	background-color: #BC4D4D;
	transition: width 300ms linear;
	-webkit-transition: width 300ms linear;
	-ms-transition: width 300ms linear;
	-moz-transition: width 300ms linear;
	-o-transition: width 300ms linear;
}

.shield {
	width: 30px;
	height: 30px;
	background: url(../img/buckler-icon.png) no-repeat 0px -30px;
	margin-top: 5px;
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
}

.shield > div {
	height: 100%;
	background: url(../img/buckler-icon.png) no-repeat;
	transition: width 300ms linear;
	-webkit-transition: width 300ms linear;
	-ms-transition: width 300ms linear;
	-moz-transition: width 300ms linear;
	-o-transition: width 300ms linear;
}

.wood2 .shield {
	background-position: -30px -30px;
}

.wood2 .shield > div {
	background-position: -30px 0;
}

.wood3 .shield {
	background-position: -60px -30px;
}

.wood3 .shield > div {
	background-position: -60px 0;
}

.sword {
	position: absolute;
	top: -35px;
	width: 30px;
	height: 30px;
	background: url(../img/sword-icon.png) no-repeat 0px -30px;
	transition: opacity 300ms linear;
	-webkit-transition: opacity 300ms linear;
	-ms-transition: opacity 300ms linear;
	-moz-transition: opacity 300ms linear;
	-o-transition: opacity 300ms linear;
}

.sword > div {
	height: 100%;
	background: url(../img/sword-icon.png) no-repeat;
	transition: width 300ms linear;
	-webkit-transition: width 300ms linear;
	-ms-transition: width 300ms linear;
	-moz-transition: width 300ms linear;
	-o-transition: width 300ms linear;
}

.stone2 .sword {
	background-position: -30px -30px;
}

.stone2 .sword > div {
	background-position: -30px 0;
}

.stone3 .sword {
	background-position: -60px -30px;
}

.stone3 .sword > div {
	background-position: -60px 0;
}

.xpBar {
	height: 300px;
	width: 8px;
	position: absolute;
	top: -2px;
	right: -8px;
	background: url(../img/expbar.png) repeat-y 0 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.xpBar .fill {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0%;
	background-color: #DBAA67;
	bottom: 0px;
	transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
}

.xpBar .nightSprite {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../img/expbar.png) repeat-y -8px 0;
}

.levelEffect {
	position: absolute;
	height: 0%;
	width: 2px;
	top: 0px;
	background-color: white;
	opacity: 1;
	transition: all 500ms ease-out, height 200ms ease-out;
}

