#test {
	position: absolute;
	left: 10px;
	display:inline-block; 
	padding:5px; 
	height: 1em;
	margin:auto;
	border:1px solid black;
}

#test {
	top: 40px;
}

.gameBoard {
	position: relative;
	margin: 110px auto;
	border: 1px solid black;
}

.gem {
	width: 60px;
	height: 60px;
}

.world {
	position: absolute;
	top: -101px;
	width: 100%;
	height: 100px;
}

.dude {
	background-image: url(../img/dude.png);
	position: absolute;
	bottom: 0px;
	width: 16px;
	height: 32px;
}
